.button_block {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid grey;
}

.main_word {
    border: medium none;
    background-image: none;
    background: transparent;
}

.a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.little_words_block {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right: 80px; */
}
.little_words {
    margin-left: 25px;
    border: medium none;
    background-image: none;
    background: transparent;
    cursor: pointer;
}
